
<footer style="margin-top:60px;">
  <div class="container-fluid">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-3">
        <%= image_tag "uenf.png", class: "img-fluid img1 ml-auto mr-auto d-table" %>
      </div>
    </div>
  </div>
</footer>