<div class="container-fluid">
	<div class="g-row">
		<div class="g-col">
			1º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#geometria-analitica">Geometria</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#calculo1">Cálculo I</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#organizacao-computadores">Org. Comp.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#logica-matematica">Lógica Mat.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#programacao1">Prog. I</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#introducao">Introd. CC</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#ingles1">Inglês I</a>
		</div>
		<div class="g-col">
			2º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#algebra-linear">Álgebra</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#calculo2">Cálculo II</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#fisica1">Física I</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#lab-fisica1">Lab. Fís. I</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#logica-digital">Lógica Digital</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#estrutura-discreta">Est. Discretas</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#programacao2">Prog. II</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#ingles2">Inglês II</a>
		</div>
		<div class="g-col">
			3º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#metodos-matematicos">Métodos</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#calculo3">Cáculo III</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#fisica2">Física II</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#lab-fisica2">Lab. Fís. II</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#arquitetura-computadores">Arq. Comp.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#paradigmas-programacao">Par. Prog.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#estutura-dados1">Est. Dados I</a>
		</div>
		<div class="g-col">
			4º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#calculo-numerico">Cálculo Num.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#ipe">IPE</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#sistemas-operacionais">Sist. Opera.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#estrutura-dados2">Est. Dados II</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#poo">POO</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#analise-projeto">Análise Proj.</a>
		</div>
		<div class="g-col">
			5º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#processo-estocastico">Proc. Estoc.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#redes-computadores">Redes</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#linguaguens-formais">Ling. Formais</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#banco-dados1">BD I</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#engenharia-software">Eng. Soft.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#computacao-sociedade">Comp. e Soc.</a>
		</div>
		<div class="g-col">
			6º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#pesquisa-operacional">Pesq. Opera.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#computacao-grafica">Comp. Gráf.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#linguaguens-formais">Compiladores</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#banco-dados1">BD II</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#engenharia-software">IA</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#computacao-sociedade">POO Desv.</a>
		</div>
		<div class="g-col">
			7º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#sistema-distribuido">Sist. Distr.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#ihm">I. H. M.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#teste-software">Teste de Soft.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#trabalho-cientifico">Trab. Cien.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#optativa1">Optativa I</a>
		</div>
		<div class="g-col">
			8º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#empreendedorismo">Empreend.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#optativa2">Optativa II</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#optativa3">Optativa III</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#optativa4">Optativa IV</a>
		</div>
		<div class="g-col">
			9º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#projeto-monografia">Proj. Mono.</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#optativa5">Optativa V</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#optativa6">Optativa VI</a>
		</div>
		<div class="g-col">
			10º Período
			<a href="javascript:void(0)" data-toggle="modal" data-target="#estagio">Estágio</a>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#monografia">Monografia</a>
		</div>
	</div>
</div>