<div class="container">

	<nav class="navbar navbar-expand-lg bg-light navbar-right">
	  <a class="navbar-brand" href="#">
	  	<%= render partial: "logo" %>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav ml-auto">
	      <a class="nav-item nav-link active" href="/">INICIO</a>
	      <!-- <a class="nav-item nav-link" href="javascript:void(0)">PRÉ MATRICULA</a> -->
	      <a class="nav-item nav-link" href="/">GRADE CURRICULAR</a>
	      <a class="nav-item nav-link" href="/requerimento">REQUERIMENTOS</a>
	      <%= link_to 'SAIR', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
	    </div>
	  </div>
	</nav>

</div>



